body {
    text-align: center;
    background-color: cyan;
}

.imgers {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

h1 {
    font-family: Lobster;
    font-size: 30px;
}

#dd {
    font-size: 50px;
}

#para {
    font-size: 20px;
    font-family: Architects Daughter;
}

#div1 menu {
    text-align: center;
    width: 100%;
    }

.menu {
    position: fixed;
   width: 100%;
    background: yellow;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    text-align: center;
}

.lists {
    display: block;
    text-decoration: none;
    display: inline-block;
    color: chocolate;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;
}

.lists:hover {
    background-color: aquamarine;
    font-family: Lobster;
    color: white;
}

#sec1 {
    width: 1300px;
    height: 600px;
    background-color: linear-gradient (red 0%, yellow 100%);
    font-family: Architects Daughter;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#sec2 {
    width: 1300px;
    height: 600px;
    background-color: yellowgreen;
    font-family: Architects Daughter;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.d {
    font-family: Architects Daughter;
}

#head {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.imger {
    width: 400px;
    height: 500px;
}
